body {
	overflow:auto;
}

#fondpage {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:-1;
}

#imgfond{
	width:100%;
	height:100%;
	
}

#texteAide {
	position:absolute;
	top:0;
	left:0px;
	width:100%;
	height:100%;
	overflow:auto;
	z-index:2;
}

#divTexte{
	background-color: rgba(255,255,255,0);
	margin:5px;
}

h1 {
	background-color: rgb(255,0,0);
}
/*
h3 {
	background-color: rgb(255,150,100);
	display:inline-block;
	margin:0px;
}*/

